<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @bet.userid %>
</p>

<p>
  <b>Teamid:</b>
  <%= @bet.teamid %>
</p>

<p>
  <b>Value:</b>
  <%= @bet.value %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @bet.timestamp %>
</p>


<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
